<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Tarjeta principal</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Tarjeta de advertencia</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success"><div class="card-body">Tarjeta de éxito</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">Tarjeta de peligro</div></sb-card-view-details>
    </div>
</div>
